header{
    font-family: 'Tiro Gurmukhi', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 550px;
    background: url(../imagenes/fondo-pagina-tijeras.jpeg);
    background-size: cover;
    opacity: 70%;
    h1{
        font-size: 5rem;
    }
}