header{
    font-family: 'Tiro Gurmukhi', serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-image: url(../imagenes/fondo-pagina-cuchillas.jpeg);
    background-size: cover;
    opacity: 70%;
    h1{
        font-size: 5rem;
        color: white;
    }
}