* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.pagina_index .navegadora {
  background-color: black;
  font-size: 1.5rem; }
  .pagina_index .navegadora:hover {
    background-color: white; }
  .pagina_index .navegadora:hover a {
    color: black; }
  .pagina_index .navegadora ul {
    margin-right: 2%;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto; }
    .pagina_index .navegadora ul li {
      text-align: center;
      margin: 1rem;
      width: 10rem; }
      .pagina_index .navegadora ul li:hover {
        background-color: white;
        transform: scale(1.3, 1.3);
        transition: 0.5s; }
      .pagina_index .navegadora ul li:hover a {
        text-decoration: underline;
        color: black;
        transition: 0.2s; }
      .pagina_index .navegadora ul li img {
        border-radius: 45px;
        border: 2px solid black; }
      .pagina_index .navegadora ul li a {
        color: white;
        text-decoration: none; }

.pagina_index header {
  font-family: 'Tiro Gurmukhi', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 550px;
  background-image: url(../imagenes/fondo-del-header.jpg);
  background-size: cover;
  opacity: 70%; }
  .pagina_index header h1 {
    font-size: 5rem; }

.pagina_index .lineas {
  width: 60%;
  margin-left: 20%;
  margin-right: 20%; }

.pagina_index main .informacion, .pagina_index main .beneficios {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }
  .pagina_index main .informacion h3, .pagina_index main .beneficios h3, .pagina_index main .informacion p, .pagina_index main .beneficios p {
    font-family: 'Tiro Gurmukhi', serif;
    text-align: center; }

.pagina_index main .beneficios {
  overflow: hidden;
  text-align: center; }

.pagina_index footer {
  background-color: black;
  text-align: center; }
  .pagina_index footer .logo_facebook {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_index footer .logo_facebook:hover {
      transform: scale(1.3, 1.3);
      background-color: blue;
      border-radius: 1rem; }
  .pagina_index footer .logo_instagram {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_index footer .logo_instagram:hover {
      transform: scale(1.3, 1.3);
      background-color: red;
      border-radius: 1rem; }
  .pagina_index footer .logo_whats {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_index footer .logo_whats:hover {
      transform: scale(1.3, 1.3);
      background-color: green;
      border-radius: 1rem; }
  .pagina_index footer .ultima {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; }
    .pagina_index footer .ultima .logo_barber {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; }

@media only screen and (max-width: 700px) {
  .pagina_index .navegadora {
    height: auto;
    font-size: 1.2rem; }
    .pagina_index .navegadora ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto; }
      .pagina_index .navegadora ul li {
        margin: 0.5rem;
        width: 80%; }
        .pagina_index .navegadora ul li a {
          text-decoration: none;
          text-align: center; }
  .pagina_index .header {
    height: 20rem;
    background-size: 100%;
    background-size: cover;
    opacity: 50%; }
    .pagina_index .header h1 {
      font-size: 3rem; } }

/*termina pagina principal*/
.pagina_cortes .navegadora {
  background-color: black;
  font-size: 1.5rem; }
  .pagina_cortes .navegadora:hover {
    background-color: white; }
  .pagina_cortes .navegadora:hover a {
    color: black; }
  .pagina_cortes .navegadora ul {
    margin-right: 2%;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto; }
    .pagina_cortes .navegadora ul li {
      text-align: center;
      margin: 1rem;
      width: 10rem; }
      .pagina_cortes .navegadora ul li:hover {
        background-color: white;
        transform: scale(1.3, 1.3);
        transition: 0.5s; }
      .pagina_cortes .navegadora ul li:hover a {
        text-decoration: underline;
        color: black;
        transition: 0.2s; }
      .pagina_cortes .navegadora ul li img {
        border-radius: 45px;
        border: 2px solid black; }
      .pagina_cortes .navegadora ul li a {
        color: white;
        text-decoration: none; }

.pagina_cortes header {
  font-family: 'Tiro Gurmukhi', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  background-image: url(../imagenes/fondo-de-pagina-cortes.jpg);
  background-size: cover;
  opacity: 70%; }
  .pagina_cortes header h1 {
    font-size: 5rem;
    color: white; }

.pagina_cortes .lineas {
  border: 0.1rem solid black;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%; }

.pagina_cortes .taper_fade {
  overflow: hidden; }
  .pagina_cortes .taper_fade .titulo_taper {
    text-align: center;
    font-family: 'Tiro Gurmukhi', serif; }
  .pagina_cortes .taper_fade .img_taper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .pagina_cortes .taper_fade .img_taper img {
      margin: 1rem;
      border-radius: 30px; }
      .pagina_cortes .taper_fade .img_taper img:hover {
        transform: scale(1.1, 1.1);
        transform: scale(1.1, 1.1);
        border: 3px solid black;
        transition: 0.5s; }
  .pagina_cortes .taper_fade .iframe_taper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .pagina_cortes .taper_fade .iframe_taper iframe {
      margin: 1rem;
      border-radius: 30px; }
      .pagina_cortes .taper_fade .iframe_taper iframe:hover {
        transform: scale(1.1, 1.1);
        border: 3px solid black;
        transition: 0.5s; }
  .pagina_cortes .taper_fade .expli_taper {
    border: 0.1rem solid gray;
    text-align: center;
    margin: 1rem;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 270px;
    border-radius: 10px;
    background-color: white;
    overflow: auto; }

.pagina_cortes footer {
  background-color: black;
  text-align: center; }
  .pagina_cortes footer .logo_facebook {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_cortes footer .logo_facebook:hover {
      transform: scale(1.3, 1.3);
      background-color: blue;
      border-radius: 1rem; }
  .pagina_cortes footer .logo_instagram {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_cortes footer .logo_instagram:hover {
      transform: scale(1.3, 1.3);
      background-color: red;
      border-radius: 1rem; }
  .pagina_cortes footer .logo_whats {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_cortes footer .logo_whats:hover {
      transform: scale(1.3, 1.3);
      background-color: green;
      border-radius: 1rem; }
  .pagina_cortes footer .ultima {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; }
    .pagina_cortes footer .ultima .logo_barber {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; }

@media only screen and (max-width: 700px) {
  .pagina_cortes .navegadora {
    height: auto;
    font-size: 1.2rem; }
    .pagina_cortes .navegadora ul {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: auto; }
      .pagina_cortes .navegadora ul li {
        margin: 0.5rem;
        width: 80%; }
        .pagina_cortes .navegadora ul li a {
          text-decoration: none;
          text-align: center; }
  .pagina_cortes .header {
    height: 20rem;
    background-size: 100%;
    background-size: cover;
    opacity: 50%; }
    .pagina_cortes .header h1 {
      font-size: 3rem; }
  .pagina_cortes .img_taper img {
    width: 15rem;
    height: 15rem; }
  .pagina_cortes .iframe_taper iframe {
    width: 25rem;
    height: 14rem; }
  .pagina_cortes .expli_taper {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%; } }

/*termina la pagina de cortes*/
.pagina_tijeras .navegadora {
  background-color: black;
  font-size: 1.5rem; }
  .pagina_tijeras .navegadora:hover {
    background-color: white; }
  .pagina_tijeras .navegadora:hover a {
    color: black; }
  .pagina_tijeras .navegadora ul {
    margin-right: 2%;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto; }
    .pagina_tijeras .navegadora ul li {
      text-align: center;
      margin: 1rem;
      width: 10rem; }
      .pagina_tijeras .navegadora ul li:hover {
        background-color: white;
        transform: scale(1.3, 1.3);
        transition: 0.5s; }
      .pagina_tijeras .navegadora ul li:hover a {
        text-decoration: underline;
        color: black;
        transition: 0.2s; }
      .pagina_tijeras .navegadora ul li img {
        border-radius: 45px;
        border: 2px solid black; }
      .pagina_tijeras .navegadora ul li a {
        color: white;
        text-decoration: none; }

.pagina_tijeras header {
  font-family: 'Tiro Gurmukhi', serif;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 550px;
  background-image: url(/imagenes/fondo-pagina-tijeras.jpeg);
  background-size: cover;
  opacity: 70%; }
  .pagina_tijeras header h1 {
    font-size: 5rem; }

.pagina_tijeras footer {
  background-color: black;
  text-align: center; }
  .pagina_tijeras footer .logo_facebook {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_tijeras footer .logo_facebook:hover {
      transform: scale(1.3, 1.3);
      background-color: blue;
      border-radius: 1rem; }
  .pagina_tijeras footer .logo_instagram {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_tijeras footer .logo_instagram:hover {
      transform: scale(1.3, 1.3);
      background-color: red;
      border-radius: 1rem; }
  .pagina_tijeras footer .logo_whats {
    width: 3rem;
    height: 3rem;
    margin: 2rem; }
    .pagina_tijeras footer .logo_whats:hover {
      transform: scale(1.3, 1.3);
      background-color: green;
      border-radius: 1rem; }
  .pagina_tijeras footer .ultima {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; }
    .pagina_tijeras footer .ultima .logo_barber {
      width: 8rem;
      height: 8rem;
      border-radius: 4rem; }

/*termina la pagina de tijeras*/
