.navegadora{
    background-color: black;
    font-size: 1.5rem;
    &:hover{
        background-color: white;
        transition:1s;
    }
    ul{
        margin-right: 2%;
        margin-bottom: 0px ;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content:center;
        height: auto;
        li{
            border-radius: 0rem 1rem 0rem 1rem;
            text-align: center;
            background-color: black;
            border: 0.1rem solid white;
            margin: 1rem;
            width: 10rem;
            &:hover{
                background-color: white;
                border: 0.1rem solid black;
                transition: 0.2s;
                transform: scale(1.3,1.3);
                a{
                    color: black;
                    transition: 0.2s;
                }
            }
            a{
                color: white;
                text-decoration: none;
            }
        }
    }
}