@media only screen and (max-width:700px){
    .navegadora{
        height: auto;
        font-size: 1.2rem;
        ul{  
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: auto;
            li{
                margin: 0.5rem;
                width: 80%;
                a{
                    text-decoration: none;
                    text-align: center;
                }
            }
        }
    }


    .header{
        height: 20rem;
        background-size: 100%;
        background-size: cover;
        opacity: 50%;
        h1{
            font-size: 3rem;
        }
    }

    .img_taper img{
        width: 15rem;
        height: 15rem;
    }
    .iframe_taper iframe{
        width: 25rem;
        height: 14rem;
    }
    .expli_taper{
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
    }
    

}